# This file contains configuration options for harbored-mod (hmod).
#
# By default, hmod loads configuration from file 'hmod.cfg' in the directory from where
# hmod is running, if such file exists. These configuration options can also be passed
# as command-line options for hmod, overriding contents of the config file, if any,
# with the exception of options that allow multiple values (such as 'exclude' or
# 'macros') where the values specified as command-line options are *added* to the values
# in config file.



# Source code files or directories to document. Specify more than once to document more
# files/directories, e.g:
#
#   source = ./source
#   source = ./thirdparty
#
# This will document both the source code in the ./source/ and ./thirdparty/ directories.
#
# For DUB (http://code.dlang.org) projects, './source' is usually a good setting here.
source = ./dlib


# Name of the project. Used on the main page and possibly other places to help identify
# the project.
project-name = dlib


# Version of the project.  Used on the main page and possibly other places to help
# identify the project.
project-version = 


# Set to true to disable Markdown support, so that only DDoc is used.
no-markdown = false


# Directory where the generated documentation will be written.
output-directory = ./doc

# Output format. Supported values:
# html-simple
#     Every function, variable, etc. will be documented in a separate
#     HTML file. A documentation page of an aggregate (e.g. class) will
#     link to these files. Generates a large number of files; not
#     recommended for large projects.
# html-aggregated
#     Members of an aggregate will be documented in the same file as the
#     aggregate, unless they are aggregates themselves. That is, member
#     functions or variables will be documented in the same file as the
#     class that contains them, but a subclass will be documented in a
#     separate file.
format = html-aggregated


# Modules or packages to exclude from generated documentation. Specify more than once to
# exclude more modules/packages, e.g:
#
#   exclude = tharsis.util
#   exclude = tharsis.entity.gamestate
#
# This will exclude both the package (or module) tharsis.util and module (or package)
# tharsis.entity.gamestate .

exclude =


# DDoc+markdown source of the main page of your documentation. Currently the main page is
# blank by default; this can be used to fill it with something useful.

index =


# Filename of DDoc+markdown source of additional content to add to the table of contents
# sidebar.  Useful e.g. to add links to tutorials. Can be used more than once to add
# content from more files.

toc-additional =


# DDoc+markdown source of additional content to add to the table of contents
# sidebar.  Like toc-additional but the content to add is written directly in this file.
# content from more files.

toc-additional-direct =


# CSS file to use for styling. Can be used to replace the default style.
# To create a new style, you can start by generating the default style file with
# 'hmod --generate-css CSS_OUT_FILE' (CSS_OUT_FILE is name the generated file will have)
# and then modifying the CSS to get the desired style.

css =


# File to load DDoc macros from. Can be used to override builtin macros or add new ones.
# Can be specified more than once to use multiple macro files, e.g.:
#
#   macros = macros.ddoc
#   macros = moremacros.ddoc

macros =


# Maximum file size of D modules harbored-mod will process, in kiB.  Any file
# bigger than specified size will be ignored. Useful in rare cases when modules
# are huge enough that the parser spends too much memory.
# By default, we ignore modules bigger than 16MiB.

max-file-size = 16384


# Maximum number of modules to generate module list for. If there are more than
# max-module-list-length (non-excluded) modules, the module list on the main page
# will not be generated.

max-module-list-length = 256


# Additional config file to load, if needed. Configuration options in specified file will
# override or add to any options specified before this line, and will be overridden by
# any options after this line. Think of it as including the config file in this file.

config =



#---------------------------------------------------------------------------
# Configuration options **only** useful for harbored-mod testing
#---------------------------------------------------------------------------
# Uncommenting these will result in printing help information; only useful for testing.
#
# # Print help message.
#
# help = true
#
#
# # Generate default CSS file and write it to specified file.
# generate-css = hmod-style.css
#
#
# # Generate default config file and write it to 'hmod.cfg'.
#
# generate-cfg = true
